@font-face {
    font-family:"blowbrush" ;
    src: url(blowbrush/blowbrush.otf);
}
body{
   
    
}

.banniere {
 
width: 100%;

}

.navbar-nav {
    size: 50px;
    display: flex;
    justify-content: center;
    
}
nav {
    background-image: url(https://zupimages.net/up/21/38/0zba.png);
    width: auto;
    height: 200px;
    
    
}

.nav-item {

    margin-right: 200px;
    margin-top: 95px;
}

.TKT{
    
    overflow: hidden;
    position: relative;
}
.TKT h3
{ 
    color: black;
    width: 50%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center; 
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);  
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: TKT 15s linear infinite;
 -webkit-animation: TKT 15s linear infinite;
 animation: TKT 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes TKT {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes TKT {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(0%); }
}
@keyframes TKT {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);     
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(0%); /* Firefox bug fix */
 transform: translateX(0%); 
 }



}