@font-face {
    font-family:"monofonto" ;
    src: url(polices/monofonto/monofonto.otf);
    
}

.chaine {
    width: 100%;    
}

body {
    background-color: black;
}

.nav-link {
    font-size: 20px;
    font-family: monofonto;
    color: #FFFA14;
}

.nav-item:hover {
    background: #52789E;
    color: white;
}

.banniere {
    width: 100%;
    position: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    display: flex;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    background: #757575; 
    color: black;
}

.TKT{
    overflow: hidden;
    position: relative;
}
.TKT h3
{ 
    color: white;
    width: 50%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center; 
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);  
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: TKT 15s linear infinite;
 -webkit-animation: TKT 15s linear infinite;
 animation: TKT 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes TKT {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes TKT {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(0%); }
}
@keyframes TKT {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);     
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(0%); /* Firefox bug fix */
 transform: translateX(0%); 
 }

}